
[[ -f .envrc.local ]] && source_env .envrc.local
# should set GAME_FOLDER
# example:
# export GAME_FOLDER="/home/kpi/games/SteamLibrary/steamapps/common/Last Epoch"

path_add PYTHONPATH $(pwd)/tools

export PROJECT_ROOT=$(pwd)
export STEAM_BASE=$(realpath "${GAME_FOLDER}/../..")
export GAME_ID='899770'
export METADATA="${GAME_FOLDER}/Last Epoch_Data/il2cpp_data/Metadata"
export WINE_USER_DIR="${STEAM_BASE}/steamapps/compatdata/${GAME_ID}/pfx/drive_c/users/steamuser/AppData/LocalLow/Eleventh Hour Games/Last Epoch"